<div class="index-container" id="newsletter-container">
  <div class="section-title-container">
    <h4 class="section-title"><%=@newsletter.date%> Newsletter: </h4>
  </div>
  <% if @stories.empty? %>
      <div>
        <h3 id="empty-table">
        No stories found for this newsletter :(
        </h3>
      </div
  <% else %>
    <% @stories.reverse_each do |story| %>
        <%= render partial: "partials/story", locals: {story: story} %>    
    <% end %>
  <% end %>
  <div>
    <a target="_self" href="<%= newsletters_url %>" id="submit-btn">Go Back</a>
  </div>
</div> 
