<%= tinymce_assets %>
<div class="new-story-container">
  <div class="form-container">
    <h1 id="form-title">Edit Your Story</h1>
    <%= render partial: "form", locals: {story: @story} %>
  </div>
</div>