<div class="show-container">
  <%= render partial: "partials/story", locals: {story: @story} %> 
  <div class="show-page-buttons">
    <a target="_self" href="<%= edit_story_url(@story.id) %>" id="submit-btn">Edit Story</a>
    <form action="<%= story_url(@story.id) %>" method="POST" id="the-form">  
      <input type="hidden" name="_method" value="DELETE" />
      <div>
        <button id="submit-btn">Delete Story</button>
      </div>
    </form>
    <a target="_self" href="<%= stories_url %>" id="submit-btn">Go Home</a>
  </div>
</div>
