.index-container, .newsletter_stories {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  height: 100%;
  padding: 0px 15px 15px;
  margin: 10px auto;
      /* margin-bottom: 1rem; */
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  background-color: aliceblue;
}

.newsletter_stories {
  background-color:  rgb(255, 255, 255);
}


.section-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1.75em;
  margin-bottom: 1rem;
  text-align: left;
  
}

.stories-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  
}

.story-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0.063em 0.313em 0px, rgba(0, 0, 0, 0.1) 0px 0.438em 1.063em 0px;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;

}

#tag {
  font-size: 0.875rem;
  display: flex;
  text-decoration: none;
  color: rgb(240, 176, 65);
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
} 


.title-container {
  min-width: 280px;
  display: flex;
}

#title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;

}

#author {
  font-style: italic;
  display: block;
  font-size: 85%;
}

#published {
  color: rgb(40, 40, 40);
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.show-container, .new-story-container, .show-container-partial{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  width: 100%;
  margin: auto;

}

.show-container-partial {
   background-color: #f2f2f2;
   margin: 10px;
   padding: 10px;
}

#empty-table {
  text-align: center !important;
}

#newsletter-container {
  padding: 20px 10px;
}


@media (min-width: 576px) {
  .index-container, .show-container, .new-story-container, .newsletter_stories {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .index-container, .show-container, .new-story-container, .newsletter_stories  {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .index-container, .show-container, .new-story-container, .newsletter_stories  {
      max-width: 930px;
  }
}

@media (min-width: 1200px) {
  .index-container, .show-container, .new-story-container, .newsletter_stories {
      max-width: 1140px;
  }
}
